html {
	background: #171717;
}
body {
	background: #171717;
	font-family: 'Asap', sans-serif;
}

h1 a {
	text-indent: -1000em;
	background: url('../img/title_new.png') center center no-repeat;
	height: 170px;
	display: block;
}
h2 {
	font-size: 28px;
	line-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
h2 em {
	font-style: italic;
}

#wrapper {
	width: 901px;
	margin: auto;
}

.box {
	background: #000;
	border-radius: 10px;
	padding : 15px;
	margin-bottom: 15px;
	color: #ccc;
}

#menu {
	width: 214px;
	padding: 15px 0;
	height: 400px;
	float: left;
}
#search {
	width: 184px;
	height: 35px;
	float: left;
}
#titolo {
	width: 642px;
	height: 35px;
	float: right;
}
#results {
	width: 642px;
	height: 400px;
	float: right;
}
#video {
	width: 642px;
	height: 480px;
	float: right;
}
#most_viewed {
	width: 413px;
	float: left;
}
#top {
	width: 413px;
	float: right;
}
#adsense {
	width: 642px;
	height: 70px;
	float: right;
}
#social {
	width: 184px;
	height: 70px;
	float: left;
}


#menu ul {
	border-top: 1px solid #111;
	border-bottom: 1px solid #090909;
}
#menu a {
	display: block;
	padding: 15px;
	color: #ccc;
	text-decoration: none;
	border-top: 1px solid #090909;
	border-bottom: 1px solid #111;
}
#menu a:hover {
	background: #080808;
	color: #fff;
}

.adsense_wrapper {
	width: 468px;
	height: 60px;
	margin: 5px auto;
}

#search_text {
	height: 25px;
	width: 139px;
	background: #fff url('../img/search.png') 98% center no-repeat;
	border: 0 none;
	border-radius: 5px;
	padding: 5px 40px 5px 5px;
}

.video {
	width: 180px;
	height: 170px;
	float: left;
	margin-right: 2px;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 90%;
	padding: 15px 16px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.video:nth-child(3n) {
	margin-right: 0px;
}
.video .thumb {
	position: relative;
	height: 102px;
	width: 180px;
	overflow: hidden;
	margin-bottom: 10px;
}
.video img {
	width: 180px;
	position: absolute;
	top: -17px;
}
.video:hover {
	background: #171717;
}

#search_result {
	position: relative;
	overflow: hidden;
	width: 642px;
	height: 480px;
}

#search_result .items {
	width: 20000em;
	position: absolute;
	margin-top: 20px;
}

#search_result .items .page {
	float: left;
	width: 642px;
}

#top ul,
#most_viewed ul {
	margin: 10px;
}
#top ul a,
#most_viewed ul a {
	font-size: 85%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	color: #666;
	text-decoration: none;
}
#most_viewed ul a span {
	float: right;
}

#social a {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background-position: center bottom;
	margin: 10px 21px;
}
#social a:hover {
	background-position: center top;
}

#social #fb {
	background-image: url('../img/fb.png');
}
#social #yt {
	background-image: url('../img/yt.png');
}

#search_result .navi {
	position: absolute;
	top: 0;
	right: 0;
}
#search_result .navi a {
	display: block;
	width: 8px;
	height: 8px;
	background: #333;
	margin: 2px;
	float: left;
	background: url('../img/navigator.png') center top;
	cursor: pointer;
}
#search_result .navi a.active {
	background-position: center bottom;
}

.loading {
	background: url('../img/loader.gif');
	display: block;
	width: 31px;
	height: 31px;
	text-indent: -1000em;
}
